.boas-vindas-section {
    position: relative;
    width: 100%;
    height: auto;
}

.imagem-conceito-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do container */
}

.imagem-conceito {
    width: 100%;
    height: auto;
    opacity: 0.5; /* Ajusta a opacidade da imagem de fundo */
}

.faixa-superior, .faixa-inferior {
    position: absolute;
    left: 0;
    right: 0;
    height: 50px; /* Altura das faixas */
    background-color: #5e17eb;
    z-index: 5; /* Assegura que as faixas estão sobre a imagem conceito */
}

.faixa-superior {
    top: 0; /* Posiciona a faixa superior no topo */
}

.faixa-inferior {
    bottom: 0; /* Posiciona a faixa inferior na parte inferior */
}

.overlay-content {
    position: relative;
    z-index: 10; /* Garante que o conteúdo fique sobre as faixas e a imagem de fundo */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ajuste conforme necessário */
    padding: 20px; /* Espaçamento interno */
}

.boas-vindas-content {
    color: #ffffff; /* Cor do texto */
    text-align: left;
    max-width: 100%;
}

.boas-vindas-logo img {
    width: 100px;
    margin-bottom: 10px;
}

.boas-vindas-icons {
    margin-top: 10px;
}

.icone-rede-social {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
