# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
local_settings.py
db.sqlite3
media/
staticfiles/
*.sqlite3
*.sqlite3-journal

# Node.js (para o frontend com Vue.js)
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log*
dist/
*.cache

# IDEs e Editores
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini

