djangocms-versioning
djangocms-alias
djangocms-frontend
django-filer
djangocms-text-ckeditor
django-fsm<3
psycopg2-binary==2.9.9
djangorestframework==3.15.2
django-allauth
django-debug-toolbar
django-cors-headers==4.4.0
django-storages==1.14.4
djangorestframework-simplejwt==5.3.1
pyjwt==2.9.0
drf-yasg==1.21.7
inflection==0.5.1
pytz==2024.1
pyyaml==6.0.2
uritemplate==4.1.1
django-versatileimagefield==3.1
python-magic==0.4.27
pillow==10.4.0
python-magic-bin==0.4.14
djangocms-picture==4.1.1
djangocms-video==3.1.0
djangocms-snippet==3.1.1
django-material==1.12.0
django-filter==24.3
django-viewflow==2.2.7
pylint==3.3.1 
pylint-django==2.5.5




